.drawer-menu {
  $drawer-menu-item-height: 36px;
  $community-length: 8;
  $drawer-padding: 20px;

  @function _calculate-max-content-height($length) {
    @return $drawer-menu-item-height * $length * $drawer-padding;
  }

  &.is-active {
    .drawer-menu-button {
      color: $blue;
    }
  }

  &.is-open {
    .drawer-menu-button i:last-child {
      transform: translateY(-50%) rotate(180deg);
    }

    .drawer-menu-content {
      max-height: 152px;
    }

    .drawer-menu-list {
      padding-bottom: $drawer-padding;
    }
  }

  &-button {
    @include flexbox(start);
    @include text-style(18, $primary);
    width: 100%;
    height: 54px;
    position: relative;
    font-weight: 700;
    padding: 0 8px;
    transition: color 200ms ease-in-out;

    i {
      &:first-child {
        position: relative; // TODO: Check
        top: 1px; // TODO: Check
        font-size: 24px;
        color: $primary;
        margin-right: 8px;
      }

      &:last-child {
        @include pos-center-y;
        right: 8px;
        font-size: 16px;
        color: $primary;
        transition: transform 200ms ease-in-out;
      }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
      }
    }

    a {
      @include flexbox(start);
      @include text-style(14, $primary);
      width: 100%;
      height: 36px;
      padding: 0 12px;
      font-weight: 700;
    }

    .ico-new {
      color: $red;
      font-size: 16px;
    }
  }
}
