.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;
  // overflow는 기준점이 필요함 + 그 기준에 넘치는 자식 요소들
  overflow-x: auto;

  // 스크롤바 제거
  @include no-scrollbar();

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
    margin-left: -#{$grid-margin};
    height: 40px;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    border-bottom: 1px solid $border;

    // 자식 요소에 특정한 값을 부여하지 않았을 때 의미있는 특성임
    // max-content: 브라우저 호환이 좋지 않음
    // width: max-content;
  }

  &-item {
    // 이 특성을 주어야만 inline으로 딱 정렬됨
    // flex-shrink: 0;

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include inline-flexbox();
      @include text-style(13, $dark);
      font-weight: 700;
      height: 40px;
      padding: 0 $lnb-link-padding;
      border-bottom: 2px solid transparent;
    }
  }
}
